.clearfix::before,
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
}

.icons {
  font-size: 20px;
}

.search-text-box,
.input-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.edit-todo {
  max-width: 60%;
  margin: 0 10px;
  display: inline-block;
}

.whileEditInputIsOpen {
  float: right;
  margin: 0 0 0 0;
}

.todo-header {
  padding: 10px;
  font-size: 25px;
  color: #757575;
  font-weight: bold;
  text-align: center;
}

.mark-todo-completed {
  text-decoration: line-through;
  color: #565656;
  font-weight: bold;
}

.todo-container,
.tags-container {
  width: 50%;
  padding: 0;
  height: 99vh;
  margin: 0 auto;
  border: 1px solid #dddddd;
  box-shadow: 5px 3px 5px -1px rgba(142, 142, 240, 0.3);
}

.todo-container .btn {
  color: #e4e4e4;
}

.navcontainer .btn {
  color: #757575;
}

.navcontainer,
.tagsContainer {
  margin: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  padding: 0;
  margin: 5px 0 10px 0;
  border-top: 1px solid #a9a9a9;
}

.todo-list-container .each-list {
  padding: 10px;
  display: block;
  font-size: 18px;
  text-align: left;
  margin: 0 0 5px 0;
  border-radius: 10px;
  background: #e8e8e8;
  box-shadow: 1px 1px 1px 1px rgba(142, 142, 142, 0.1);
}

.completed-check {
  float: left;
  margin: 30px 0;
}

.default-text {
  padding: 100px;
  font-size: 20px;
  text-align: center;
}

.todo-list-container {
  width: 90%;
  margin: 0 auto;
  overflow-y: auto;
}

.todo-wrapper {
  width: 90%;
  float: left;
  padding: 0 0 0 15px;
}

.todo-list-container ul {
  padding: 0;
}

.todo-list-container ul li {
  display: inline;
  list-style-type: none;
}

.todo-text {
  width: 100%;
  text-align: left;
  margin: 0;
  word-wrap: break-word;
  display: inline-block;
}

.todo-date {
  width: 100%;
  margin: 0;
  text-align: left;
  word-wrap: break-word;
  color: #797979;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.action-btn {
  margin: 0 5px;
}

.actions-btn-container {
  float: right;
  margin: 20px 0px 5px 0;
}

.model-button {
  top: 10px;
  right: 10px;
  position: absolute;
}

.add-todo-btn,
.action-btn {
  background: #00bcd4;
  border: 0;
  z-index: 0;
}

.action-btn:hover {
  background: #00bcd4;
}

.action-btn:disabled {
  background: #757575d4;
}

.navbar .btn,
.action-btn:focus,
.action-btn:active {
  outline: none !important;
  box-shadow: none;
}
.navbar .btn:active {
  color: rgb(0, 38, 255);
}

.todo-content-container,
.tags-content-container {
  width: 70%;
  display: inline-block;
}

/* 
* for tags
*/
.tags-input-container {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.tags-input {
  margin: 1px 0 15px 0;
}

.tags-input-container label {
  font-size: 17px;
}

.add-tags-btn {
  margin: 5px 0 0 0;
}

.tags-action-btn {
  margin: 10px 0 0 5px;
}

.tags-btn {
  margin: 0 2px;
}

.tagsContainer {
  margin-top: 10px;
}

.edit-tags-input {
  width: 55%;
  display: inline-block;
  margin-top: 5px;
}

@media screen and (max-width: 992px) {
  .todo-container {
    width: 100%;
  }
}

@media screen and (max-width: 762px) {
  .todo-container,
  .tags-container {
    width: 100%;
    margin-top: 0;
    margin-top: 5px;
    position: relative;
  }

  .todo-header {
    margin-bottom: 15px;
  }

  .navbar {
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    margin-bottom: 0;
    position: absolute;
    background-color: #ebebeb;
    justify-content: space-evenly;
  }

  .nav-list {
    width: 20%;
    display: inline-block;
  }

  .continer {
    margin: 0;
    padding: 0;
  }

  .actions-btn-container {
    margin: -55px 0 0 5px;
  }

  .tags-action-btn {
    margin: 10px 0 0 5px;
  }
}

@media screen and (max-width: 480px) {
  .todo-container,
  .tags-container {
    opacity: 1;
    margin: 0;
    padding: 0;
    height: 97vh;
  }

  .navbar {
    display: block;
  }

  .nav-list {
    width: 30%;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .todo-content-container {
    width: 65%;
  }
}
